<% INCLUDE html_header.tt2 %>

<h1 class="text-center"><% project.name %> Schema</h1>


[% remainder = 4 - sources.size mod 4%]
[% IF remainder == 4 %]
[% remainder = 0 %]
[% END %]

<div class="container">
<p class="text-center">Quick links to table definitions:</p>
<div class="row">
[% FOR source IN sources %]
[% UNLESS loop.index mod 4 %]
[% '</div>' UNLESS loop.first %]
<div class="row">
[% IF loop.index mod 4 == 0 %]
<div class="col-lg-2">&nbsp;</div>
[% END %]
[% END %]
<div class="col-lg-2"><a href="#[% source.table %]">[% source.table%]</a></div>
[% IF loop.index mod 4 == 3 %]
<div class="col-lg-2">&nbsp;</div>
[% END %]
[% END %]
[% FOR nop IN [1 .. remainder] %]
<div class="col-lg-2">&nbsp;</div>
[% END %]
</div></div></div>

<h2>1. Introduction</h2>
<p>This document describes the <% project.name %> database schema.</p>
<p>This document is generated automatically by a Perl script which constructs and colors the schema tables from a DBIx::Class::Schema object.
<p>The purpose of this document is to act as a reference for developers of <% project.name %> and of code which interacts with <% project.name %>.
<p>The intended readership is <% project.name %> developers and administrators.
<p>This document is not confidential.
<p>Please send any comments and/or problem reports to <a href="mailto:emmanuel+bzschema&#64;seyman.fr">emmanuel+bzschema&#64;seyman.fr</a>.

<h2>2. <% project.name %> overview</h2>
<p><a href="<% project.url %>"><% project.name %></a> is <% project.summary %> licensed under the <% project.license %> license.

<h2>3. The schema</h2>

[% FOR source IN sources %]
    <h3 id="[% source.moniker %]">
        The "[% source.table %]" table
    </h3>

    [% INCLUDE columns_table.tt2 %]
    [% IF source.unique_constraints.size %]
        [% INCLUDE unique_constraints_table.tt2 %]
    [% END %]
    [% IF source.relationships.size %]
        <br />
        [% INCLUDE relationship_table.tt2 %]
    [% END %]

[% END %]

<h2>4. <% project.name %> History</h2>
<h3><% project.name %> releases</h3>

<p>A table giving the dates of all the <% project.name %> releases will soon be generated.


<h2><a id="section-5">5. Example queries</a></h2>

<p>To select bug number <em>n</em>:</p>

<blockquote><code>
select * from bugs where bug_id = <em>n</em>
</code></blockquote>

<p>To get a complete list of user ids and email addresses:</p>

<blockquote><code>
select userid, login_name from profiles
</code></blockquote>

<p>To get the email address of user <em>n</em>:</p>

<blockquote><code>
select login_name from profiles where userid = <em>n</em>
</code></blockquote>

<p>To get the set of cc addresses of bug <em>n</em>:</p>

<blockquote><code>
select login_name from cc, profiles
 where cc.bug_id = <em>n</em>
   and profiles.userid = cc.who
</code></blockquote>

<p>To select the long descriptions
of bug <em>n</em>, together with the name and email address of the
commenters:</p>

<blockquote><code>
select profiles.login_name, profiles.realname,
       longdescs.bug_when, longdescs.thetext
  from longdescs, profiles
 where profiles.userid = longdescs.who
   and longdescs.bug_id = <em>n</em>
 order by longdescs.bug_when
</code></blockquote><p>To find out the groups of user <em>n</em>:</p><p></p>

<blockquote><code>
select group_id from user_group_map where userid = <em>n</em> and isbless=0
</code></blockquote>

<% INCLUDE html_footer.tt2 %>
