<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bugzilla Schema</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Schema">
    <style type="text/css">[% PROCESS stylesheet.css %]</style>
    <!-- link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
    <script type="text/javascript" language="javascript" src="//code.jquery.com/jquery-3.0.0.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" language="javascript" src="//cdn.datatables.net/1.10.12/js/dataTables.jqueryui.min.js"></script>
    <script type="text/javascript" class="init">
        $(document).ready(function() {
	    $('table.display').DataTable({ paging: false, "info": false, searching: false });
        } );
    </script -->
</head>
<body>
[% IF include_tabs %][% INCLUDE html_tabs.tt2 %][% END %]
